.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

select {
  margin: 1rem;
  width: 15rem;
}

.no-result {
  display: none;
}

.result {
  display: block;
  border: 1px solid silver;
  width: 20rem;
  margin: auto;
  height: 2rem;
  line-height: 2rem;
}
